@import "../../common";

.footer{
    margin-top: 3rem;
    position: absolute;
    bottom: 0;
    z-index:-1;

    width: 100%;
}

@include phone{
    .ContactContainer{
        text-align:center;
    }
}
