@import "../../../common";

main{
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right:2rem;
    width:100%;

    a:hover{
        color: $orange;
    }

    .EntryContainer{
        width:95%;
    }
    
    code{
        background-color: white;
        color: $dark-red;
    }
    
    pre{
        white-space: pre-wrap;
    }
    
    .MuiTableCell-head{
        background-color: $primary;
        color:white;
    }

    p{
        font-size: large;
        margin-top:1rem;
        margin-bottom:1.5rem;
    }

    mjx-container{
        font-size: x-large;
    }
    
    .MuiPaper-root{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    ::selection{
        color:white;
        background:$primary;
    }

    ::-moz-selection{
        color:white;
        background:$primary;
    }

    .linenums li {
        list-style-type: decimal;
    }

}