@import "../../../common";

.PassageTitle {
  @extend .fontLemonMilk;
  font-size: 1.5em;
  color: $primary;
  font-weight: normal;
  text-decoration: underline;
}

.MinorTitle{
  @extend .fontLemonMilk;
  font-size: 1.2rem;
  color: $grey;
  font-weight: normal;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}

@include phone{
  .MinorTitle{
    padding-left: 0;
  }
}
