@import "../../common";

.Contact {
    display: inline-block;
    margin-right: 20%;
    margin-left:15%;

    ul{
        display:flex;
        list-style-type:none;
    }

    li{
        margin-left: 2em; 
        vertical-align: text-top;

        h4{
            display: inline-block;
            margin-bottom: 0;
            margin-top: 0.1rem;
        }
    }

    .vl {
        border-left: 1px solid $primary;
        height: 30px;
      }

    .LinkedInIcon, .MaterialIcon {
        transform: scale(1.2);
        display: inline-flex;
        vertical-align: top;
        margin-right:20px;
        margin-left:20px;
        color: $primary;
        margin-top:0.2rem;
    }   

    .LinkedInIcon{
        transform: scale(1.5);
    }

    svg:hover {
        color: $orange;
    }   
    a:hover{
        color: $orange;
    }

    a{
        color:$primary;
    }
}

@include phone{
    .Contact{
        margin-right: 0;
        margin-left:0;

        ul{
            padding-left: 0;
        }

        li{
            margin-left: 0.2%;
            h4{
                display:none;
                outline: none;
            }
        }
    }
}

