@import "../../../common";

.NavigationTableContainer{
    margin-bottom: 6rem;
    background-color: white;
    border-color: white; 
    border-style: solid;
    margin-left: 7rem;
    margin-right: 7rem;
    ul{
        list-style-type: none;
        margin-left: 0.5rem;
    }

    a{
        text-decoration: none;
    }

    li{
        margin-top: 5px;
    }
}

@include phone{

    .NavigationTableContainer{
        margin-bottom: 2rem;

        ul{
        padding-left: 1.5rem;
        }
    }
}