@import "../../../common";

.PageTitle {
  @extend .fontLemonMilk;
  font-size: 2.5em;
  color: $primary;
  margin: 0 0 5px;
}

.CategoryTitleContainer{
  @extend .fontLemonMilk;
  border-style: solid;
  background-color: $primary;
  color:white;
  margin-bottom: 1rem;
  padding-left: 2rem;

  border-style: solid;
  border-color: $primary;
}