@import "../../../common";

.PageTitle {
  @extend .fontLemonMilk;
  font-size: 2.5em;
  color: $primary;
  margin: 0 0 5px;
}

.CategoryTitleContainer{
  @extend .fontLemonMilk;
  margin-left: 7rem;
  margin-right: 7rem;
  background-color: $dark-red;
  color:white;
  // margin-bottom: 1rem;
  text-align: center;
  padding-left: 2rem;
  border-style: solid;
  // border-color: $primary; 
  letter-spacing: 2px;
  h3{
    font-weight: 500; 
  }
  
}

@include phone{
  .CategoryTitleContainer{
    padding-left: 0;
  }

  h3{
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: large;
    
  }
}